# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.dbmld
*.jfm

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/CaseFlow-Database.Test/CaseFlow-Database.Tests/CaseFlow-Database.Tests.dbmdl
/CaseFlow-Database.Test/CaseFlow-Database.Tests/CaseFlow-Database.Tests.sqlproj.user
/CaseFlow-Database/CaseFlow-Database/CaseFlow-Database.dbmdl
/CaseFlow-Database/CaseFlow-Database/CaseFlow-Database.sqlproj.user
/CaseFlow-Database/.vs/CaseFlow-Database/FileContentIndex
/CaseFlow-Database/.vs/CaseFlow-Database/v17
/CaseFlow-Database/.vs/CaseFlow-Database/CopilotIndices/17.14.786.1071/CodeChunks.db
/CaseFlow-Database/.vs/CaseFlow-Database/CopilotIndices/17.14.786.1071/SemanticSymbols.db
/CaseFlow-Database/CaseFlow-Database-Tests/.vs/CaseFlow-Database-Tests.csproj.dtbcache.json
/CaseFlow-Database/packages
/CaseFlow-Database/.vs/CaseFlow-Database/CopilotIndices/17.14.786.1071/CodeChunks.db-shm
/CaseFlow-Database/.vs/CaseFlow-Database/CopilotIndices/17.14.786.1071/CodeChunks.db-wal
/CaseFlow-Database/.vs/CaseFlow-Database/CopilotIndices/17.14.786.1071/SemanticSymbols.db-shm
/CaseFlow-Database/.vs/CaseFlow-Database/CopilotIndices/17.14.786.1071/SemanticSymbols.db-wal
